h4 {
    font-size: 21px;
    color: #ffffff;
    margin-top: 25px;
  }
  
  body {
       color: #666666;
       font-size: 15px;
       font-family: 'Poppins', sans-serif;
       line-height: 1.80857;
  }
  
  .text_align_center {
    text-align: center;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  
  .full {
    float: left;
    width: 100%;
  }
  
  .white_fonts p, .white_fonts h1, .white_fonts h2, .white_fonts h3, .white_fonts h4, .white_fonts h5, .white_fonts h6, .white_fonts ul, .white_fonts ul li, .white_fonts ul li a, .white_fonts ul i, .white_fonts .post_info i, .white_fonts div, .white_fonts a.read_more {
    color: #fff !important;
  }
  
  ul, li, ol{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  /* Overall Style Ends Here */
  
  /* Nav Bar Starts Here */
  .navbar-brand {
    margin-left: 80px;;
  }
  
  .navbar-brand img {
    width: 200px;
  
  }
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .card-body p {
    
    overflow: hidden;
    min-height: 5rem;
    max-height: 5rem;
    text-overflow: ellipsis;
  }
  
  
  
  .button1{
    color:white;
    background-color:#47425D;
    padding: 5px;
    border-radius: 3px;
    border: none;
    transition-duration: 0.5s;
    
    
    }
    .button1:hover{
    background-color: #2c293b;
    }
  
    .card-body {
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      display: flex;
  
    }
    
    .card{
    border: 1px solid darkgrey;
    }
    .card-title{
    color: #014483;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.2s;
    font-size: 20px;
    margin-bottom: 0;
    }
  
    .card-title:hover{
    color: #0084ff;
    }
    .button{
    background-color:#47425D;
    color: white;
    transition-duration: 0.5s;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    }
    .card-title {
    text-align: center;
    }
    .button:hover {
    background-color: #2c293b;
    }
    
    .card-text {
    text-align: center;
    }
    
    .location {
    font-size: small;
    text-align: center;
    color: black;
    text-decoration: none;
    
    
    }
    
    .location:hover { 
    color:#00ccffd2;
    }
    
  
    .inside {
    text-align: center;
    
  
    }
  
    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
   }
  
   /* Footer Starts Here */
  .footer-box {
    padding: 50px 0;
    text-align: center;
  }
  
  .footer_links{
    text-decoration: none;
    color: white;
  }
  
  .footer_links:hover{
    color: rgb(128, 168, 223);
  }
  
  ul.social_icon li a {
    width: 35px;
    height: 35px;
    background: #fff;
    float: left;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  ul.social_icon li i {
    color: #000 !important;
    line-height:35px;
  }
  
  .ul.social_icon li a:hover {
    color: #0466c8 !important;
  }
  
  ul.social_icon li {
    float: left;
    margin: 0 5px;
  }
  .footer_bottom {
    padding: 15px 0;
  }
  .footer_bottom p.crp {
    float: left;
    margin: 0;
    color: #8d8d8c;
    font-size: 15px;
  }
  ul.bottom_menu li a {
    color: #8d8d8c;
  }
  ul.bottom_menu li {
    float: left;
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
  }
  
  .bottom_menu {
    float: right;
  }
  /* Footer Ends Here */
  
  